body{
	background-color: black;
}


#container{
	display: flex;
	border: 4px solid rgb(0,255,0);
	width:500px;
	height: 600px;
	border-radius: 100px;
	margin: 50px auto;
	flex-direction: column;
}


#time{
	/*border: 4px solid black;*/
	height:20px;
	margin: 30px 50px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color:rgb(0,255,0);
}

#metricscontainer{
	display: flex;
	/*border: 4px solid red;*/
	height:50px;
	margin: 10px 50px;
	justify-content: space-between;
	align-content: center;
}

.displayMetrics{
	/*border: 2px solid red;*/
	width:70px; 
	height:50px;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
	color:rgb(0,255,0);
	text-align: center
}

#petcontainer{
	border: 4px solid rgb(0,255,0);
	height:300px;
	margin: 10px 50px;
	display: flex;
	justify-content: center;
	/*align-items: flex-end;*/
	flex-direction: column;
}

#boreddiv,#feeddiv,#lightOffdiv,#petdiv{
	/*border: 2px solid blue;*/
	width:250px;
	height:250px;
	margin: 0 auto;
	display: none
}

img{
	width: 100%;
	height: 100%;
	/*border: 2px solid red;*/
}

#message{
	/*position: relative;*/
	color: rgb(0,255,0);
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	/*border:2px solid red;*/
	margin: 0 auto;
}


#buttoncontainer{
	/*border: 4px solid black;*/
	display: flex;
	height: 50px;
	margin: 10px 50px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.buttons{
	border: 5px solid rgb(0,255,0);
	height: 40px;
	width: 40px;
	border-radius: 50px;
	margin:0 40px;
}

.buttontext{
	/*border: 1px solid green;*/
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	height: 40px;
	width: 40px;
	margin:10px 20px;
	color: rgb(0,255,0);
}
