body{
	background-color: black;
}



/*outer part of the toy*/
#container{
	display: flex;
	border: 4px solid rgb(0,255,0);
	width:500px;
	height: 600px;
	border-radius: 100px;
	margin: 50px auto;
	flex-direction: column;
}


/*timer*/
#time{
	/*border: 4px solid black;*/
	height:20px;
	margin: 30px 50px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color:rgb(0,255,0);
}







/*container div of the netrics*/
#metricscontainer{
	display: flex;
	/*border: 4px solid red;*/
	height:50px;
	margin: 10px 50px;
	justify-content: space-between;
	align-content: center;
}

.displayMetrics{
	/*border: 2px solid red;*/
	width:70px; 
	height:50px;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
	color:rgb(0,255,0);
	text-align: center
}







/*screen parts*/
#petcontainer{
	border: 4px solid rgb(0,255,0);
	height:300px;
	width:400px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#boreddiv,#feeddiv,#lightOffdiv,#petdiv{
	border: 2px solid blue;
	width:250px;
	height:250px;
	margin: 18px auto;
	display: none;
	position:absolute;
}



img{
	width: 100%;
	height: 100%;
	/*position:relative;*/
	border: 2px solid red;
}


#message{
	color: rgb(0,255,0);
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	border:2px solid red;
	margin: -130px auto 0 auto;
	position: absolute;
	text-align: center;
	/*width: 400px;*/

}

#inputname{
	text-align: center;
}

button, input.inputbox, textarea{
	background-color: black;
	border: 2px solid rgb(0,255,0);
	color: rgb(0,255,0);
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	border-radius: 20px;
}








/*button parts*/
#buttoncontainer{
	/*border: 4px solid black;*/
	display: flex;
	height: 50px;
	margin: 10px 50px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.buttons{
	border: 5px solid rgb(0,255,0);
	height: 40px;
	width: 40px;
	border-radius: 50px;
	margin:0 40px;
}

.buttontext{
	/*border: 1px solid green;*/
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	height: 40px;
	width: 40px;
	margin:10px 20px;
	color: rgb(0,255,0);
}


